body{
    background-color: rgb(250, 230, 210);
    width: 95%
}

h1, h2, h3{
    color: grey;
}

h1{
    font-family: serif;
    font-size: 24pt;
    margin-bottom: 30px;
}

h2{
    font-family: verdana;
    font-size: 24pt;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}

h3{
    font-family: serif;
    font-size: 14pt;
    margin-bottom: 60px;
    margin-top: 0px;
    text-align: center;
}

#accentuate{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#button_accent{
    margin: 20px;
}

#input{
    color: grey;
}

#overlay{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#overlay p{
    text-align: center;
}

#page{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    width: 100%;
}

#validate_choice{
    margin-left: 180px;
}

.text_area{
    background-color: white;
    border: 1px solid grey;
    font-family: garamond;
    font-size: 16pt;
    height: 600px;
    margin: 20px;
    margin-top: 0px;
    overflow: scroll;
    width: 450px;
}

.red{
    color: red;
}



